div {
    background-color: blue;
    height: 20%;
    width: 20%;
    margin-left: 500px;
    margin-top: 500px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

body {
    background-color: red;
}
